.addTodos {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea */
    max-width: 600px;
    margin: 0 auto;
  }
  
  .addTodos label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .addTodos .todo-input {
    flex: 1; /* Hace que los elementos se expandan para ocupar el espacio disponible */
    padding: 8px;
    margin-right: 12px; /* Espacio entre los elementos */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }
  
  .addTodos .add-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addTodos .add-btn:hover {
    background-color: #0056b3;
  }
  