.conteiner-body{
    width: 1350px;
    margin:  auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    padding: 20px;
    background-color: #0dadf1;
   
}

body{
    background-color: #86d6f6dd;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #24d0aef8;
}

.card-to-do {
    background-color: rgb(6, 9, 66);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.add-todo{
    color: #0c0c0c;
    text-align: center;
    background-color: #0dadf1;
    border-radius: 1500px;
    margin: auto;
}

.input-add{
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.932);
    color: #111010;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #000000;
    margin-bottom: 4px;
    margin-right: 10px;
    padding: 10px;
    box-shadow: 5px 1px 5px 5px #0c60d4;
   

}

.btn-add{
    border-radius: 10px;
    background-color: rgba(15, 104, 194, 0.932);
    color: #ffffff;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #000000;
    margin-bottom: 4px;
    margin-right: 10px;
    padding: 10px;
   
    
}

.input-add:hover {
    background-color: #83b2e1fa;
}
